#menu {
    padding: 0;
    background-color: rgb(255, 221, 158);
    width: 100%;
    height: 40px;
  }
  
  #menu li {
    display: inline-block;
    padding: 10px;
  }
  
  #menu li span {
    font-family: Arial;
  }

  #acceso {
    position: absolute;
    right: 10px;
  }